In [1]:
#Import dependencies
import pandas as pd
import numpy as np

In [2]:
sp500loc_url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'

locations_table = pd.read_html(sp500loc_url)
locations_df = pd.DataFrame(locations_table[0])

locations_df

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",1976-08-09,66740,1902
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
2,ABBV,AbbVie Inc.,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
3,ABMD,ABIOMED Inc,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
4,ACN,Accenture plc,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...,...
500,YUM,Yum! Brands Inc,reports,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
501,ZBRA,Zebra Technologies,reports,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
502,ZBH,Zimmer Biomet,reports,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
503,ZION,Zions Bancorp,reports,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
504,ZTS,Zoetis,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280,1952

In [3]:
loc_renamed = locations_df.rename(columns = {'GICS Sector':'GICS_Sector', 'GICS Sub-Industry':'GICS_Sub_Industry', 'Headquarters Location':'Headquarters', 'Date first added':'Date_Added'})
loc_renamed

,Symbol,Security,SEC filings,GICS_Sector,GICS_Sub_Industry,Headquarters,Date_Added,CIK,Founded
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",1976-08-09,66740,1902
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
2,ABBV,AbbVie Inc.,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
3,ABMD,ABIOMED Inc,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
4,ACN,Accenture plc,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...,...
500,YUM,Yum! Brands Inc,reports,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
501,ZBRA,Zebra Technologies,reports,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
502,ZBH,Zimmer Biomet,reports,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
503,ZION,Zions Bancorp,reports,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
504,ZTS,Zoetis,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280,1952

In [6]:
loc_trimmed = loc_renamed.drop(['SEC filings', 'Founded'], axis=1)
loc_trimmed

,Symbol,Security,GICS_Sector,GICS_Sub_Industry,Headquarters,Date_Added,CIK
0,MMM,3M Company,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",1976-08-09,66740
1,ABT,Abbott Laboratories,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800
2,ABBV,AbbVie Inc.,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152
3,ABMD,ABIOMED Inc,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094
4,ACN,Accenture plc,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373
...,...,...,...,...,...,...,...
500,YUM,Yum! Brands Inc,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061
501,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212
502,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869
503,ZION,Zions Bancorp,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380
504,ZTS,Zoetis,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280

In [7]:
loc_trimmed.to_csv('sp500locations.csv')

In [8]:
!pip install geopy

'pip' is not recognized as an internal or external command,
operable program or batch file.

In [9]:
from geopy.exc import GeocoderTimedOut
from geopy.geocoders import Nominatim

In [12]:
data = pd.read_csv('map/sp500locations.csv')
data.head()

,Symbol,Security,GICS_Sector,GICS_Sub_Industry,City,State,Date_Added,CIK
0,MMM,3M Company,Industrials,Industrial Conglomerates,St. Paul,Minnesota,8/9/1976,66740
1,ABT,Abbott Laboratories,Health Care,Health Care Equipment,North Chicago,Illinois,3/31/1964,1800
2,ABBV,AbbVie Inc.,Health Care,Pharmaceuticals,North Chicago,Illinois,12/31/2012,1551152
3,ABMD,ABIOMED Inc,Health Care,Health Care Equipment,Danvers,Massachusetts,5/31/2018,815094
4,ACN,Accenture plc,Information Technology,IT Consulting & Other Services,Dublin,Ireland,7/6/2011,1467373

In [13]:
# declare an empty list to store 
# latitude and longitude of values  
# of city column 
longitude = [] 
latitude = []

In [14]:
# function to find the coordinate of a given city  
def findGeocode(city): 
       
    # try and catch is used to overcome the exception thrown by geolocator using geocodertimedout   
    try: 
          
        # Specify the user_agent as your app name it should not be none 
        geolocator = Nominatim(user_agent="your_app_name") 
          
        return geolocator.geocode(city) 
      
    except GeocoderTimedOut: 
          
        return findGeocode(city)

In [16]:
# each value from city column 
# will be fetched and sent to 
# function find_geocode    
for i in (data["City"]): 
      
    if findGeocode(i) != None: 
           
        loc = findGeocode(i) 
          
        # coordinates returned from  
        # function is stored into 
        # two separate list 
        latitude.append(loc.latitude) 
        longitude.append(loc.longitude) 
       
    # if coordinate for a city not 
    # found, insert "NaN" indicating  
    # missing value  
    else: 
        latitude.append(np.nan) 
        longitude.append(np.nan)

In [17]:
# now add this column to dataframe 
data["Longitude"] = longitude 
data["Latitude"] = latitude 
  
data

,Symbol,Security,GICS_Sector,GICS_Sub_Industry,City,State,Date_Added,CIK,Longitude,Latitude
0,MMM,3M Company,Industrials,Industrial Conglomerates,St. Paul,Minnesota,8/9/1976,66740,-93.101503,44.950404
1,ABT,Abbott Laboratories,Health Care,Health Care Equipment,North Chicago,Illinois,3/31/1964,1800,-87.841182,42.325578
2,ABBV,AbbVie Inc.,Health Care,Pharmaceuticals,North Chicago,Illinois,12/31/2012,1551152,-87.841182,42.325578
3,ABMD,ABIOMED Inc,Health Care,Health Care Equipment,Danvers,Massachusetts,5/31/2018,815094,-70.930051,42.575095
4,ACN,Accenture plc,Information Technology,IT Consulting & Other Services,Dublin,Ireland,7/6/2011,1467373,-6.260273,53.349764
...,...,...,...,...,...,...,...,...,...,...
500,YUM,Yum! Brands Inc,Consumer Discretionary,Restaurants,Louisville,Kentucky,10/6/1997,1041061,-85.759407,38.254238
501,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,Lincolnshire,Illinois,12/23/2019,877212,-0.203121,53.182303
502,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,Warsaw,Indiana,8/7/2001,1136869,21.006725,52.231958
503,ZION,Zions Bancorp,Financials,Regional Banks,Salt Lake City,Utah,6/22/2001,109380,-111.886798,40.759620
504,ZTS,Zoetis,Health Care,Pharmaceuticals,Florham Park,New Jersey,6/21/2013,1555280,-74.388207,40.787878

In [19]:
data.to_csv('map/sp500locations.csv', index=False, header=True)